rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /accounts/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /commitments/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /commitmentInstances/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /ledger/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /commitmentAllocations/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /ledgerItems/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /plaidItems/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /plaidAccounts/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /plaidSync/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
